*
{
    font-family: "Inter Tight", sans-serif;
    color: #fff;
}
body 
{
    /* Propriedades do background: color image reapeat position /size */
    background: url('./assests/bg-mobile.jpg') no-repeat top center / cover;
}

#container 
{
    width: 350px;
    margin: 0 auto;
}

#profile 
{
    text-align: center;
}

#profile img
{
    width: 112px;
}
#profile p
{
    font-weight: 500;
    line-height: 24px;    
}
/*Adicionando fontes e estilos aos textos */